* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 5rem; 
}

h1 {
  margin: 5rem 0; 
  text-align: center;
}

.egressos {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 2rem;
  justify-content: center;
}

@media (min-width: 610px) {
  .egressos {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: 910px) {
  .egressos {
    grid-template-columns: repeat(3, 300px);
  }
}

.egresso {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  transition: all .4s;
  border-radius: 5px;
  overflow: hidden;
}

.egresso:hover {
  transform: scale(1.1);
}

.egresso figure {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .4;
  transition: all .4s;
}

.egresso figure img {
  height: 100%;
}

.egresso:hover figure {
  opacity: 1;
}

.egresso .info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(123, 208, 193, .15);
  transition: all .4s;
}

.egresso .icons {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 98%;
  margin: 0 auto;
  z-index: 2;
}

.egresso .name {
  position: absolute;
  bottom: 60px;
  text-align: center;
  width: 98%;
  margin: 0 auto;
  color: #fff;
}

.egresso .icons a {
  margin-left: 10px;
}

.egresso .icons a:hover {
  cursor: pointer;
}

.egresso .icons a img:hover {
  transition-duration: 0.4s;
  transform: scale(1.2);
}

.egresso:hover .info {
  background-color: transparent;
}

.egresso .name h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}